body {
	margin: 0;
}

.window {
	padding-top: 0px;
	border: #111 solid 1px;
}

.bar {
	display: none;
}

.terminal {
  border: #000 solid 0px;
  font-family: "MDL300 Base CE for Powerline", "Droid Sans Mono for Powerline", monospace;
  font-size: 15px;
  font-weight: 400;
	line-height: 23px;
  color: #FFF;
  background: #000;
	white-space: nowrap;
}

.terminal-cursor, .reverse-video {
  background: #ff2a5f;
	display: inline-block;
	height: 23px;
}

.terminal span {
	white-space: nowrap;
	display: inline-block;
	height: 23px;
	min-width: 10.5px;
}
